<h1 >Listing Show No.<%= @listing.id %></h1>

<h2><%= @listing.title %></h2>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://placehold.it/128x128" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @listing.title %></strong> in <span><b><%= @listing.location %></b></span> with <small><%= @listing.nb_rooms %> rooms</small>
          <br>
          <%= @listing.description %>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
