<div class="card columns">
  <div class="card-image column">
    <figure class="image is-4by3">
    <%if @listing.avatars.present? %>
        <%= image_tag (@listing.avatars[0].large.url) %>
        <%end%>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-32x32">
    <%if @listing.avatars.present? %>        
        <%= image_tag (@listing.avatars[0].large.url) %>
    <% else %>
      <img src="http://placehold.it/32x32" alt="">
    <%end%>        
        </figure>
    <% if  @listing.user_id == current_user.id %>
      <form action="listings#update" method="put">
        <a href="/listings/<%= @listing.id %>/edit" class="button is-warning">Edit</a>
      </form>
      <form action="listings#destroy" method="delete">
        <a href="/listings/<%= @listing.id %>" class="button is-danger">Delete</a>
      </form>
    <% else %>
    <a href="/listings/<%= @listing.id %>/reservations/new">BOOK IT!</a>
    <% end %>        
      </div>
      <div class="media-content">
        <p class="title is-5"><%= @listing.title %></p>
        <p class="subtitle is-6"><%= @listing.location %></p>
      </div>
    </div>

    <div class="content">
      <%= @listing.description %><a href="#"><%= @listing.id %></a>.
      <a href="#"><%= @listing.nb_rooms %> rooms</a> 
      <% @listing.tag_list.each do |t|%>
      <a href="/tags/<%= t %>">#<%= t %></a>
      <% end %>
      <br>
      <small>Listing add on <%= (@listing.created_at).strftime("%d/%m/%Y") %></small>
    </div>
  </div>
</div>

<% if @listing.user_id == current_user.id %>
<% reservations = Reservation.where("listing_id = ?", @listing.id) %>
<span>Listing is booked from:</span>
  <% reservations.each do |r| %>
  <span><%= r.start_date.strftime("%d/%m/%Y") %> to <%= r.end_date.strftime("%d/%m/%Y") %></span>

  <% end %>
<% end %>

<p><a href="/users/<%= @listing.user_id %>">Back to User's Profile</a></p> 



 
