<div id="clearance" class="edit">
<h1>Edit your Profile</h1>
  <h2><%= t(".title") %></h2>
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
  <%= form.file_field :avatars, multiple: true %>
    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>
</div>
