<h1 class="title is-1">User No.<%= @user.id %>'s Profile</h1>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
      <% if @user.avatars.present? %>
				<%= image_tag (@user.avatars[0].large.url) %>
			<% else %>
			<img src="http://placehold.it/64x64" alt="">
			<% end %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @user.email %></strong> Id:<small><%= @user.id%></small> Registered in <small><%= @user.created_at %></small>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
    <% if  @user.id == current_user.id%>
      <form action="userss#update" method="put"><a href="/users/<%= current_user.id %>/edit" class="button is-warning">Edit</a></form>
      <form action="userss#destroy" method="delete"><a href="/users/<%= current_user.id %>" class="button is-danger">Delete</a></form>
    <% end %>        
      </div>
      <nav class="level">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
<br>
<!-- LISTINGS -->
<div class="show_list">
<h1 class="title is-1"><%= @user.firstname %>'s Listings</h1> 
<% @user.listings.each do |l| %>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
    <% if l.avatars.present? %>
      <img src="<%= l.avatars[0].large.url %>" alt="">
      <% else %>
      <img src="http://placehold.it/640x480" alt="">
      <% end %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-32x32">
      <% if User.find(l.user_id).avatars.present? %>
          <%= image_tag User.find(l.user_id).avatars[0].thumb.url %>
			<% else %>
						<img src="http://placehold.it/32x32" alt="">
			<% end %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-5"><%= l.title%></p>
        <p class="subtitle is-6">Listing No.<%= l.id %></p>
        <!-- FICHE -->
    
        <% if  l.user_id == current_user.id %>
          <form action="listings#update" method="put">
          <a href="/listings/<%= l.id %>/edit" class="button is-warning">Edit</a>
          </form>
          <form action="listings#destroy" method="delete">
          <a href="/listings/<%= l.id %>" class="button is-danger">Delete</a>
          </form>
        <% else %>
          <a href="/listings/<%= l.id %>/reservations/new">BOOK IT!</a>
        <% end %>   


        <!-- FIN FICHE  -->

        <% reservation = Reservation.where("listing_id = ?", l.id) %>
        <% if ! reservation.empty? %>
        <% reservation.each do |r| %>
        <span>This listing is booked from: <b><%= r.start_date %>  to <%= r.end_date %></b></span>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="content">
		<%= l.description %>
      <br>
      <small>Since <%= l.created_at %></small>
    </div>
  </div>

<% end %>
</div>
</div>

