<h1 class="title is-1">User No.<%= @user.id %>'s Profile</h1>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
      <% if @user.avatars.present? %>
				<%= image_tag (@user.avatars[0].large.url) %>
			<% else %>
			<img src="http://placehold.it/64x64" alt="">
			<% end %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @user.email %></strong> Id:<small><%= @user.id%></small> Registered in <small><%= @user.created_at %></small>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
<br>

<div class="show_list is-fullwidth">
<h1 class="title is-1">User No.<%= @user.id %>'s Listings</h1>
<%= Listing.all.each do |l| %>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-32x32">
      <% if @user.avatars.present? %>
          <%= image_tag (@user.avatars[0].thumb.url) %>
			<% else %>
						<img src="http://placehold.it/32x32" alt="">
			<% end %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-5"><%= l.title%></p>
        <p class="subtitle is-6">User No.<%= l.user_id %></p>
      </div>
    </div>

    <div class="content">
		<%= l.description %>
      <br>
      <small>Since <%= l.created_at %></small>
    </div>
  </div>

<% end %>
</div>
</div>