<h3>Your Reservation has been accepted and registered !</h3>

    <p>Listing name: <%= link_to @reservation.listing.title, listing_path(@reservation.listing) %></p>
    <p>No. of Guest: <%= @reservation.nb_guests%> </p>
    <p>Location: <%= @reservation.listing.location %> </p>
    <p>From: <%= @reservation.start_date %></p>

    <p>To: <%= @reservation.end_date %></p>

    <strong>Payment Status:</strong>
      <% if (! @reservation.payments) || (@reservation.payments.where(status: :authorized).count == 0)  %>
      <span class="button is-primary"> NOT PAID </span>
      <span class="button is-danger">
        <%= link_to "Cancel this reservation", reservation_path(@reservation), :confirm => "Are you sure?", :method => :delete, :class => "button is-danger", remote: true %>      
      </span>

       <%= link_to 'Pay Now' , new_payment_path + "?id=" + @reservation.id.to_s, class: "button is-warning"  %>
      <% else %>
      <span class="button is-success">PAID</span>
      <% end %>
  