<!DOCTYPE html>
<html>
<head>
  <title>BarBnB</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>


<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<%= favicon_link_tag %>
<meta name="apple-mobile-web-app-title" content="BarBnB">
<meta name="application-name" content="BarBnB">
<meta name="theme-color" content="#ffffff">
</head>

<body>
<section class="hero is-large">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div style="display: block" class="nav-left is-pulled-left">
          <a class="nav-item" href="/">
          <%=image_tag("logo.png", alt: "Logo Image")%>
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a href="/listings/new" class="nav-item is-active">
            Become a Host
          </a>
          <a class="nav-item">
            Help
          </a>

          <span class="nav-item">
<% if signed_in? %> 
              <%= button_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
              <a href="/sign_up" class="nav-item">
                Signup
              </a>
              <%= link_to 'Log in', sign_in_path %>
<% end %>              
          </span>
        </div>
      </div>
    </header>
  </div>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>



<%= yield %>
<!-- Latest compiled and minified JavaScript -->

</body>
</html>
